.main-container{
  width: 1000px;
  height: fit-content;
  justify-content: center;
  /*justify-content: center;
  margin-left: 75px;*/
  margin-left: 480px;
}

h3{
  width: 300px;
  height: 30px;
}

.add-panel{
  width: 300px;
  height: 375px;
  border: 1px solid;
  justify-content: center;
  background-color: antiquewhite;
}

.searchinput{
  margin-top: 15px;
  border: 1px solid;
  border-radius: 5px;
  height: 25px;
  width: 210px;
  background-color: aliceblue;
}

.addpaneldiv{
  margin-left: 22px;
  margin-top: 10px;
  display: inline-block;
}

.addpaneldiv2{
  margin-top: 15px;
  display: inline-block;
}

.addpanelinput{
  border: 1px solid;
  border-radius: 5px;
  height: 25px;
  width: 250px;
  justify-content: center;
  background-color: rgb(199, 197, 197);
}

.addBtn{
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  line-height: 15px;
  margin-left: 33px;
  margin-top: 15px;
  width: 100px;
  background-color: rgb(198, 188, 142);
}

.cancelBtn{
  border: 1px solid;
  border-radius: 5px;
  font-size: 11px;
  line-height: 15px;
  margin-left: 5px;
  width: 60px;
  background-color: limegreen; 
}

.table{
  margin-top: 12px;
  width: 585px;
  height: fit-content;
  border: 1px solid;
  border-collapse: collapse;
  margin-left: 75px;
  text-align: center;
}

th{
  border: 1px solid;
  border-radius: 5px;
  font-size: 15px;
  line-height: 18px;
  background-color: indigo;
  
}

tr:nth-child(even){
  background-color: plum;
}

td{
  border: 1px solid;
  font-size: 15px;
  line-height: 18px;
  
}

.editBtn{
  border: 1px solid;
  border-radius: 5px;
  font-size: 10px;
  line-height: 12px; 
  width: 50px;
  background-color: limegreen;
}

.deleteBtn{
  border: 1px solid;
  border-radius: 5px;
  font-size: 10px;
  line-height: 12px;
  width: 50px;
  background-color: orange;
}

.error{
  color: red;
}